# This is a level Heading

## This is a level 2 heading

<html>
<a href = "https:www://www.salford.ac.uk">Click here</a>
</html>

In [4]:
print("Hello World")

Hello World

In [6]:
print('a','b','c')
print('a','b','c', sep=',')
print('a','b','c', sep='-')

a b c
a,b,c
a-b-c

In [8]:
print('hello')
print('world!')

hello
world!

In [10]:
print('Hello\nworld!')

Hello
world!

In [12]:
print('''
**************************************
*                                    *
*      Learning Python               *
*                                    *
**************************************
'''
)

**************************************
*                                    *
*      Learning Python               *
*                                    *
**************************************

In [13]:
print('week1'+' '+'Workshop')

week1 Workshop

In [14]:
msg = 'Area'
r = 2
pi = 3.14
print(r)
print(pi)

2
3.14

In [16]:
type(r)
type(msg)
type(pi)

float

In [17]:
x = str(2)
y = int(2)
z = float(2)

In [19]:
type(x)
type(y)
type(z)

float

In [22]:
x = 3
y = 4
add = x + y
sub = x - y
mul =x*y
fdiv = x/y
idiv = x//y
mod = y%x
power = x**y

print('The addition of x and y is: + str(add)')
print('The subtraction of y from x is: + str(sub)')
print('The multiplication of x and y is: + str(mul)')
print('The floating division of x by y is: + str(fdiv)')
print('The remainder of y/x: ' + str(mod))
print('x to the power of y: ' + str(power))

The addition of x and y is: + str(add)
The subtraction of y from x is: + str(sub)
The multiplication of x and y is: + str(mul)
The floating division of x by y is: + str(fdiv)
The remainder of y/x: 1
x to the power of y: 81

In [24]:
e1 = 15-3*2
e2=(15-3)*2
e3=15-3**2/9
e4=15/3*5
e5=15/(3*5)
e6=15%(4/2)
e7=15%(4/2)
e8=15//4/2
e9=15/4//2
e10=15/(4//2)

print('e1', e1, sep='=')
print('e2', e2, sep='=')
print('e3', e3, sep='=')
print('e4', e4, sep='=')
print('e5', e5, sep='=')
print('e6', e6, sep='=')
print('e7', e7, sep='=')
print('e8', e8, sep='=')
print('e9', e9, sep='=')
print('e10', e10, sep='=')

e1=9
e2=24
e3=14.0
e4=25.0
e5=1.0
e6=1.0
e7=1.0
e8=1.5
e9=1.0
e10=7.5

In [27]:
x = 5
y = 6
print('sum:' ,x+y)

sum: 11

In [30]:
import numpy as np
a = np.arange(6)
print(a)

[0 1 2 3 4 5]